/* css modules */
@import "../styles/config.css";
@import "../styles/stories.css";
@import "../styles/react.css";

@font-face {
  font-family: 'Quicksand';
  src: url('../styles/fonts/Quicksand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../styles/fonts/Quicksand-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

.root {
  max-width: 100%;
  margin: auto;
  width: var(--pageWidth);
  background: #000;
}

.appLogo {
  animation: appLogoSpin infinite 20s linear;
  height: 50px;
  margin-top: -15px;
  margin-left: -15px;
}

.appHeader {
  background-color: #000;
  padding: 20px;
  color: white;
}

.appHeader nav {
 margin: 0;
}

.appIntro {
  font-size: large;
}

@keyframes appLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
